.idea
src/node_modules
*.map
src/app/*.js
src/npm-debug.log
.DS_Store
/src-migration/webp-converter/src/*.js
/src-migration/webp-converter/electron/vendor.bundle.js
/src-migration/webp-converter/electron/styles.bundle.js
/src-migration/webp-converter/electron/polyfills.bundle.js
/src-migration/webp-converter/electron/main.bundle.js
/src-migration/webp-converter/electron/inline.bundle.js
/src-migration/webp-converter/electron/index.html
/src-migration/webp-converter/electron/favicon.ico
/src/app/utils.converter.js
/src/app/main.js
/src/app/data.image-format-type.js
/src/app/data.file.js
/src/app/component.preview.js
/src/app/component.modal.js
/src/app/component.modal-multi.js
/src/app/component.image-format.js
/src/app/component.app.js
