<header class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title">WebP画像に変換する君</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">

      <ul class="nav navbar-nav">
        <li class="nav-item">
          <span class="nav-link" (click)="loadFiles()">読み込む</span>
        </li>
        <li class="nav-item" [hidden]="!files">
          <span class="nav-link" (click)="saveFiles()">まとめて変換する</span>
        </li>
      </ul>
    </section>
  </div>
</header>

<main>
  <div class="mdc-toolbar-fixed-adjust"></div>
  
  <div class="my-card-holder">
    <div class="mdc-grid-list mdc-grid-list--tile-aspect-16x9">
      <div class="mdc-grid-list__tiles">
        <app-preview *ngFor="let file of files"
                     url="{{file.url}}"
                     class="mdc-grid-tile"
                     (clickConvert)="openSaveDialog($event)">
        </app-preview>
      </div>
    </div>
  </div>

</main>
